{{>admin-head-html}}
    <div class="screen-overlay"></div>
    {{>admin-navbar}}
    <main class="main-wrap">
        {{>admin-header}}
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add New Product</h2>
                        <div>
                            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                            <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="row gx-5">
                                <aside class="col-lg-3 border-end">
                                    <nav class="nav nav-pills flex-column mb-4">
                                        <a class="nav-link active" aria-current="page" href="#">General</a>
                                        <a class="nav-link" href="#">Catgeory info</a>
                                        <a class="nav-link" href="#">Pricing</a>
                                        <a class="nav-link" href="#">Images</a>
                                        <a class="nav-link" href="#">SEO keywords</a>
                                        <a class="nav-link" href="#">Related items</a>
                                    </nav>
                                </aside>
                                <div class="col-lg-9">
                                    <section class="content-body p-xl-4">
                                        <form>
                                            <div class="row mb-4">
                                                <label class="col-lg-3 col-form-label">Product name*</label>
                                                <div class="col-lg-9">
                                                    <input type="text" class="form-control" placeholder="Type here">
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <div class="row mb-4">
                                                <label class="col-lg-3 col-form-label">Description*</label>
                                                <div class="col-lg-9">
                                                    <textarea class="form-control" placeholder="Type here" rows="4"></textarea>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <div class="row mb-4">
                                                <label class="col-lg-3 col-form-label">Brand</label>
                                                <div class="col-lg-4">
                                                    <small class="text-muted font-sm mb-10">Multiselect: Cmd+click</small>
                                                    <select multiple size="4" class="form-control select-multiple">
                                                        <option>Adidas</option>
                                                        <option>Puma</option>
                                                        <option>Apple</option>
                                                        <option>Toyota</option>
                                                        <option>Toshiba</option>
                                                        <option>Artel</option>
                                                    </select>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <div class="row mb-4">
                                                <label class="col-lg-3 col-form-label">Tax ID</label>
                                                <div class="col-lg-4">
                                                    <input type="number" class="form-control" placeholder="012345678">
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <div class="row mb-4">
                                                <label class="col-lg-3 col-form-label">Related tags</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" placeholder="Type">
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <div class="row mb-4">
                                                <label class="col-lg-3 col-form-label">Status</label>
                                                <div class="col-lg-9">
                                                    <label class="form-check my-2">
                                                        <input type="checkbox" class="form-check-input" checked="">
                                                        <span class="form-check-label">Enable this product </span>
                                                    </label>
                                                </div> <!-- col.// -->
                                            </div> <!-- row.// -->
                                            <br>
                                            <button class="btn btn-primary" type="submit"> Continue to next</button>
                                        </form>
                                    </section> <!-- content-body .// -->
                                </div> <!-- col.// -->
                            </div> <!-- row.// -->
                        </div> <!-- card body end// -->
                    </div>
                </div>
            </div>
        </section>
     {{>admin-footer}}