<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
   
    <main class="main-wrap">
       
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products grid</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div>
                    <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a>
                    <a href="#" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <header class="card card-body mb-4">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>All category</option>
                            <option>Electronics</option>
                            <option>Clothings</option>
                            <option>Something else</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option>Latest added</option>
                            <option>Cheap first</option>
                            <option>Most viewed</option>
                        </select>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/1.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Just another product name</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/2.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Brown Winter Jacket for Men</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/3.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Jeans short new model</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/4.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Travel Bag XL</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/5.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Just another product name</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/6.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Just another product name</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/7.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Just another product name</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="card card-product-grid">
                        <a href="#" class="img-wrap"> <img src="/assets/imgs/items/8.jpg" alt="Product"> </a>
                        <div class="info-wrap">
                            <div class="dropdown float-end">
                                <a href="#" class="btn btn-sm btn-brand rounded">
                                    <i class="material-icons md-edit mr-5"></i>Edit
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <a class="dropdown-item" href="#">Edit info</a>
                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                </div>
                            </div>
                            <a href="#" class="title">Apple Airpods CB-133</a>
                            <div class="price mt-1">$179.00</div> <!-- price-wrap.// -->
                        </div>
                    </div> <!-- card-product  end// -->
                </div> <!-- col.// -->
            </div> <!-- row.// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-grid-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>