

<div class="col-md-12" >
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body row">
                <div class="col-lg-3">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle shadow-4"
                        style="width: 50px;" alt="Avatar" />
                </div>
                <div class="col-lg-3">
                    <ul>
                        <li>Hello,</li>
                        <li>{{userDetails.name}}</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <button class="btn btn-xs btn-primary" type="button">
                            <span style="font-size: 10px;">Change <i class="fa fa-fw fa-camera"></i></span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-menu mt-4">
        <ul class="nav flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="dashboard-tab"  href="/profile-dashboard" role="tab"
                    aria-controls="dashboard" aria-selected="false"><i
                        class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="orders-tab"  href="/profile-orders" role="tab"
                    aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="track-orders-tab"  href="/profile-track-orders" role="tab"
                    aria-controls="track-orders" aria-selected="false"><i
                        class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="address-tab" href="/profile-address" role="tab"
                    aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="account-detail-tab" href="/profile-account-detail" role="tab"
                    aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account
                    details</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="account-detail-tab"  href="/profile-change-password" role="tab"
                    aria-controls="account-detail" aria-selected="true"><i class="fa-solid fa-lock mr-10"></i>Change
                    password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logoutUser"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
            </li>
        </ul>
    </div>
</div>
