{
    "editor.formatOnSave": true,
    "[javascript]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[javascriptreact]": {
      "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "prettier.printWidth": 100,
    "prettier.tabWidth": 2,
    "prettier.useTabs": false,
    "prettier.semi": false,
    "prettier.singleQuote": true,
    "prettier.trailingComma": "es5"
  }
  