{{>head-user}}
{{>user-header}}

<section class="pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{>user-profile-nav}}
            </div>
            <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/change-user-password/{{user._id}}">
                                <div class="row">

                                    <div class="form-group col-md-12">
                                        <label>Current Password <span>*</span></label>
                                        <input required="" class="form-control square" name="password" type="password">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>New Password <span>*</span></label>
                                        <input required="" class="form-control square" name="npassword" type="password">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Confirm Password <span>*</span></label>
                                        <input required="" class="form-control square" name="cpassword" type="password">
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-fill-out submit" name="submit"
                                            value="Submit">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
{{>foot-user}}